.bottom-section {
  height: 100%;
  background-color: $lightblue;
  min-width: 100vh;
  margin: 0 auto;
  box-sizing: border-box;

  .button {
    margin: 0 auto;
    background-color: $lightblue;
    display: inline-block;
    cursor: pointer;
    color: $white;
    font-family: barlow-bold, open-sans, arial;
    font-size: 1em;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    position: relative;
    width: 60%;
    transition: all .3s;

    &:hover {
      background-color: $darkblue;
    }
  }

  /* container for panels */
  .container-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
  }

  .panel-container {
    /* text-align: center; */
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .panel-item {
    display: inline-block;
    position: relative;
    flex: 0 0 100%;
    color: #DADEDC;
    margin: 4em;
    max-width: 300px;
  }

  .front img {
    margin: 0 auto;
    height: 60%;
    padding-top: 3em;
    display: block;
  }

  .front h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    color: $black;
    text-align: center;
  }

  .back h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    color: $black;
    text-align: center;
  }

  .back li {
    font-family: open-sans, arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: $black;
  }

  .back ul {
    margin: 1em;
    padding: 0;
    text-align: center;
    list-style: none;
  }

  /* entire container, keeps perspective */
  .flip-container {
    perspective: 1000px;
    cursor: pointer;
  }
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover:active .flipper {
      transform: rotateY(180deg);
    }

  .flip-container, .front, .back {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
  }

  /* flip speed goes here */
  .flipper {
    transition: .6s;
    transform-style: preserve-3d;
    position: relative;
  }

  /* hide back of pane during swap */
  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* front pane, placed above back */
  .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    background-color: #EFE8D8;
  }

  /* back, initially hidden pane */
  .back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotateY(180deg);
    background-color: #EFE8D8;
  }

  .vertical.flip-container {
    position: relative;
  }

  .vertical .back {
    transform: rotateX(180deg);
  }

  .vertical.flip-container .flipper {
    transform-origin: 100% 190px; /* half of height */
  }

  .vertical.flip-container:hover .flipper {
    transform: rotateX(-180deg);
  }

  .front, .back {
   -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
   -webkit-transition: 0.6s;
           transition: 0.6s;
   -webkit-transform-style: preserve-3d;
           transform-style: preserve-3d;
   position: absolute;
   top: 0;
   left: 0;
   }

   /*  UPDATED! front pane, placed above back */
  .front {
   z-index: 2;
   -webkit-transform: rotateY(0deg);
           transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .back {
   -webkit-transform: rotateY(-180deg);
           transform: rotateY(-180deg);
  }

  .eyes {
    /* position: absolute; */
    top: 50%;
    width: 100%;
    text-align: center;
  }
  .eye {
    width: 240px;
    height: 120px;
    background: #ffff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }

  .ball {
    width: 40px;
    height: 40px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: 15px solid #57BB90;
  }
}

