html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  background-color: $lightblue;
  overflow-x: hidden;
}

// GENERAL CSS
.practice {
  height: 200vh;
}

.chapter-trigger {
  height: 5vh;
}

.section {
  padding: 5vh 5vw;
  width: calc(100% - 10vw);
  overflow: hidden;

  .header {
    z-index: 10;
    position: relative;
  }

  p {
    margin-top: 10px;
    color: $black;
  }

  .letter {
    position: relative;
    display: inline-block;
    color: $red;
  }

  .body-text {
    display: block;
  }

  .container {
    max-width: 1280px;
    margin: 0 auto;

    .flex {
    padding: 10vh 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;

      .text-block {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 10;
      }

      .animation {
        width: 50%;
        height: 400px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 0;

        .text-block {
          width: 100%;
          opacity: 0;

          .chance {
            display: flex;
            align-items: flex-start;

            h2 {
              background-color: $black;
              padding: 0 10px 3px 10px;
              margin-left: 10px;
              color: $red;
            }

            p {
              font-weight: 900;
              transform: translateY(4px);
              color: $red;
            }
          }

          .explain-text {
            max-width: 400px;
            margin-right: 0;
          }
        }
      }
    }
  }
}

.chapter-container {
  position: relative;
  min-height: 130vh;
  width: 100vw;
  overflow: hidden;

  .chapter {
    position: relative;
    overflow: hidden;
    height: 80px;
    margin-bottom: 5vh;
    width: 100%;
    font-family: barlow-bold;
    z-index: 10;

    .chapter-appear {
      position: absolute;
      width: calc(100% - 10vw);
      margin-bottom: 5vh;
      z-index: 99;
      top: 100px;
      left: 0;
    }
  }

  .fixed-wrapper {
    width: 400px;
    position: absolute;

    #count {
      position: fixed;
      top: 0;
      right: 50px;
      z-index: 9;

      span {
        opacity: 0.1;
        position: relative;
        user-select: none;
      }

      span:first-of-type {
        left: 0;
        font-size: 14em;
      }

      span:nth-of-type(2) {
        top: 50px;
        margin: 0;
        font-size: 8em;
        position: relative;
      }

      span:last-of-type {
        top: 53px;
        right: 10px;
        font-size: 5em;
        position: relative;
      }
    }
  }
}
