.chapter-container.intro {
  position: relative;
  height: 100vh;
  min-height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;

  .chapter {
    color: $darkblue;
  }

  .text-flex {
    display: flex;
    justify-content: space-between;

    p {
      display: inline-block;
      position: relative;
      color: $darkblue;
      width: calc(50% - 50px);
      padding-right: 50px;
      height: 150px;
      overflow: hidden;

      span {
        position: absolute;
        left: 0;
        top: 100%;
        width: calc(100% - 50px);
      }
    }
  }

  #canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}
