.air-pollution {
  display: flex;
  align-items: center;

  h1, h2, h3 {
    color: $purple;
  }

  .chapter {
    color: $purple;
  }

  .x.axis, .y.axis {
    color: $purple;
    font-family: barlow-bold;
    font-size: 0.6em;
  }

  svg rect.point {
    &:first-of-type {
      fill: $white;
    }

    &:last-of-type {
      fill: $orange;
    }
  }

  .graph-text {
    fill: $purple;
    font-family: barlow-bold;
    font-size: 1em;
    font-weight: bold;
  }
}

