@import 'colors';
@import 'fonts';
@import 'animation';
@import 'general';
@import 'intro';
@import 'amsterdam';
@import 'pollution';
@import 'scrollmagic';
@import 'bottom';


body {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  background-color: $lightblue;
}

